body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  line-height: 1.5;
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #2e2f42;
}

.header h1 {
  color: #fff;
}

.footer {
  background-color: #2e2f42;
}

.footer p {
  color: #fff;
}